<div class="dashboard">
  <div class="row">
    <div class="col-3 sidebar">
      <%= link_to root_path, class: "navbar-brand mt-5" do %>
        <h1>Wheelz</h1>
      <% end %>
      <p><%= link_to "Profil", dashboard_path %></p>
      <hr>
      <p><%= link_to "My cars", dashboard_my_car_path, class: "active"  %></p>
      <hr>
      <p><%= link_to "Bookings", dashboard_booking_path %></p>
    </div>
    <div class="col-9 dashboard-content">
      <div class="container header d-flex justify-content-between my-3">
        <h3>Dashboard</h3>
        <div class="avatar-menu d-flex">
          <p><%= current_user.first_name %> <%= current_user.last_name %></p>
          <ul class="user-profil">
            <li class="nav-item dropdown">
              <% if current_user.avatar.key.nil? %>
                <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgsaRe2zqH_BBicvUorUseeTaE4kxPL2FmOQ&usqp=CAU", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Home", root_path, class: "dropdown-item" %>
                <%= link_to "Disconnect", destroy_user_session_path, method:'delete', class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="container body-content dashboard-body my-3">
        <div class="d-flex justify-content-between">
          <div>
            <h4>Mes voiture(s)</h4>
          </div>
          <div>
            <p><%= link_to "Ajouter une voiture",  new_car_path, class: "button-dashboard-car" %></p>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Infos voiture</th>
              <th scope="col">Date d'ajout</th>
              <th scope="col">Disponibilité</th>
            </tr>
          </thead>
          <tbody>
            <% @my_cars.each do |car| %>
              <tr>
                <td><%= car.brand %> <%= car.model %> | <%= car.plate%></td>
                <td><%= car.created_at %></td>
                <td><%= car.status %></td>
                <td>
                  <%= link_to edit_car_path(car.id) do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                </td>
                <td>
                  <%= link_to car_path(car), :method => 'delete' do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
