<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1554223090-7e482851df45?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1703);">
  <div class="container">
    <h2>Vérifiez votre réservation</h2>
  </div>
</div>
<div class="container mb-5 review my-3">
  <h3>Vérifiez votre réservation</h3>
  <div class="row">
    <div class="col-6 input-field my-3">
      <%= simple_form_for [ @car, @booking ] do |f| %>
        <%= f.input :start_date, as: :string, html5: true, input_html: { :value => @start_date}, readonly: true %>
        <%= f.input :end_date, as: :string, html5: true, input_html: { :value => @end_date}, readonly: true %>
        <%= f.input :comment, input_html: { :value => @comment} %>
        <%= f.input :kilometers, as: :string, input_html: { :value => @kilometers}, readonly: true %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="price-calculated d-flex justify-content-between border-bottom">
          <% days = (Date.parse(@end_date) - Date.parse(@start_date)).to_i %>
          <p><%= @car.price %> x <%= days %> jours</p>
          <p><%= (@car.price * days) %>€</p>
        </div>
        <div class="total-price d-flex justify-content-between my-3">
          <h5>Total</h5>
          <p><%= (@car.price * days) + @kilometers.to_i * (@car.price / 1000) %>€</p>
        </div>
      </div>
      <div class="col-6 align-self-center text-center">
        <div class="review-card">
          <% if @car.photos.length > 0 %>
            <%= cl_image_tag @car.photos[0].key, class:'review-card-img', id: "review-car-img"%>
          <% else %>
            <img src="https://cdn.motor1.com/images/mgl/nGzgl/s1/2021-bugatti-chiron-front.jpg" id="review-car-img" class="review-card-img">
          <% end %>
          <div class="review-card-content p-3">
            <h5><%= @car.brand %> <%= @car.model %></h5>
            <p><%= @car.description %></p>
            <div class="spec d-flex justify-content-between m-3">
              <p><%= @car.horsepower %>hp</p>
              <p><%=@car.energy %></p>
              <% if @car.seats > 1 %>
                <p><%= @car.seats %> places</p>
              <% else %>
                <p><%= @car.seats %> place</p>
              <% end %>
            </div>
            <div id="recap-price">
              <h4><%= @car.price%>€ / jours</span></h4>
          </div>
        </div>
      </div>
      <button type="button" class='btn btn-secondary'>Annuler</button>
      <%= f.submit "Reserver maintenant", class: "my-3 btn btn-primary" %>
    <% end %>
  </div>
</div>
