<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1554223090-7e482851df45?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1703);">
  <div class="container">
    <h2>Modifier votre voiture</h2>
  </div>
</div>
<div class="container mt-3">
  <h3>Modifications</h3>
  <div class="container-form mt-5">
    <%= simple_form_for(@car) do |f| %>
      <div class="d-flex justify-content-between">
        <div>
          <%= f.input :description, :label => "Description", :placeholder => 'Description' %>
          <%= f.input :horsepower,:label => "Puissance", :placeholder => '400cv' %>
          <%= f.input :kilometers,:label => "Killimètres", :placeholder => '25 000km' %>
          <%= f.input :plate,:label => "Plaque", :placeholder => 'AA - 123 - AA' %>
          <%= f.input :energy,:label => "Carburant", :placeholder => 'Essence' %>
        </div>
        <div>
          <%= f.input :seats,:label => "Couleur", :placeholder => '2' %>
          <%= f.input :smoker,:label => "Fumeur ?" %>
          <%= f.input :animals, :label => "Animaux ?" %>
          <%= f.input :color,:label => "Couleur", :placeholder => 'Rouge' %>
          <%= f.input :price,:label => "Prix", :placeholder => '1000€/jours' %>
          <%= f.submit "Modifier", class:"btn btn-primary btn-form" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
