<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1554223090-7e482851df45?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1703);">
  <div class="container">
   <h2>Edit your own car</h2>
  </div>
</div>

<div class="container mt-3">
  <h3>Modify this form to edit your car</h3>

  <div class="container-form mt-5">
      <%= simple_form_for(@car) do |f| %>
        <div class="d-flex justify-content-between">
          <div>
            <%= f.input :brand, :placeholder => 'Ferrari' %>
            <%= f.input :model, :placeholder => 'Italia' %>
            <%= f.input :horsepower, :placeholder => '700hp' %>
            <%= f.input :year, :placeholder => '2021' %>
            <%= f.input :kilometers, :placeholder => '25 000km' %>
            <%= f.input :plate, :placeholder => 'AA - 123 - AA' %>
            <%= f.input :energy, :placeholder => 'Fuel' %>
          </div>
          <div>
            <%= f.input :seats, :placeholder => '2' %>
            <%= f.input :smoker %>
            <%= f.input :animals %>
            <%= f.input :color, :placeholder => 'Red' %>
            <%= f.input :status %>
            <%= f.input :price, :label => 'Price per day', :placeholder => '1000€/day' %>
            <%= f.submit "Edit your car", class:"btn btn-primary btn-form" %>
          </div>
        </div>
      <% end %>
  </div>
</div>
