<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between">
      <h3 class="car-counter">Voitures (<%= @cars.count %>)</h3>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 my-2">
  <% @cars.each do |car| %>
    <div class="col">
      <div class="card">
        <% if car.photos.length > 0 %>
          <%= cl_image_tag car.photos[0].key, class:'card-img-top', id: "car-img"%>
        <% else %>
          <img src="https://cdn.motor1.com/images/mgl/nGzgl/s1/2021-bugatti-chiron-front.jpg" id="car-img" class="card-img-top">
        <% end %>
        <div class="card-body">
          <div class="card-header d-flex justify-content-between">
            <h3><%= car.brand %> <%= car.model %></h3>
            <div class="rating">
              <p>4.95 ⭐</p>
            </div>
          </div>
          <p class="card-text"><%= car.description %></p>
          <div class="spec d-flex justify-content-between m-3">
            <p><%= car.horsepower %>hp</p>
            <p><%= car.energy %></p>
            <% if car.seats > 1 %>
              <p><%= car.seats %> places</p>
            <% else %>
              <p><%= car.seats %> place</p>
            <% end %>
          </div>
          <div class="price d-flex justify-content-between">
            <h4><%= car.price%>€/<span class="days"> jours</span></h4>
            <%= link_to 'Voir plus', car_path(car)%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
