<!DOCTYPE html>
<html>
  <head>
    <title>Wheelz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/ba0f98eb61.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
  </head>
  <body>
    <% if controller.controller_name != 'profiles' %>
      <%= render 'shared/navbar' %>
      <main class="container my-3">
        <%= controller.controller_name %>
        <%= yield %>
      </main>
      <%= render 'shared/footer' %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
